*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-bottom: 40px;
}

a {
  text-decoration: none;
}

nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(213, 222, 245);
  z-index: 100;
}
nav .wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}
nav .wrapper .nav-logo {
  width: 200px;
  height: 100%;
}
nav .wrapper .nav-logo img {
  height: 100%;
}
nav .wrapper .nav-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100%;
  right: 0;
}
nav .wrapper .nav-content .nav-btn {
  font-family: "Montserrat", sans-serif;
  width: 200px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1px;
  color: rgb(67, 15, 88);
  background-color: rgb(213, 222, 245);
  border: solid rgb(213, 222, 245);
  border-width: 2px 1px;
  transition: background-color 0.3s;
}
nav .wrapper .nav-content .nav-btn-active {
  background-color: #fff;
}
nav .wrapper .nav-content .nav-btn-inactive:hover {
  cursor: pointer;
  background-color: #fff;
}
nav .wrapper .nav-content .nav-btn-active:hover {
  cursor: pointer;
}

main {
  height: calc(100vh - 80px);
}
main .main.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
main .main.wrapper h1 {
  flex: 1;
  text-align: center;
  padding-top: 30px;
  color: rgb(67, 15, 88);
}
main .main.wrapper .main-content {
  flex: 6;
  width: 100%;
  display: flex;
  flex-direction: row;
}
main .main.wrapper .main-content .races {
  flex: 1;
  position: relative;
}
main .main.wrapper .main-content .races img {
  position: absolute;
  width: 350px;
  bottom: 30px;
}
main .main.wrapper .main-content .buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .main.wrapper .main-content .buttons button {
  position: relative;
  padding: 16px 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 30px;
  border: none;
  transition: all 0.3s;
}
main .main.wrapper .main-content .buttons button a {
  color: #fff;
}
main .main.wrapper .main-content .buttons button:hover {
  cursor: pointer;
  scale: 0.9;
}
main .main.wrapper .main-content .buttons .main-quiz-btn {
  margin-left: 80px;
  background-color: rgb(102, 67, 181);
  border: none;
}
main .main.wrapper .main-content .buttons .main-quiz-btn:hover {
  box-shadow: 0px 0px 50px 0px rgb(102, 67, 181);
}
main .main.wrapper .main-content .buttons .main-races-btn {
  margin-right: 80px;
  background-color: rgb(213, 222, 245);
}
main .main.wrapper .main-content .buttons .main-races-btn:hover {
  box-shadow: 0px 0px 50px 0px rgb(213, 222, 245);
}
main .main.wrapper .main-content .quiz {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 60px 0 15px 3px;
}
main .breeds.wrapper {
  height: 100%;
}
main .breeds.wrapper .header {
  position: sticky;
  top: 40px;
  align-items: center;
  background-color: #fff;
  z-index: 100;
}
main .breeds.wrapper .header h1 {
  padding: 30px 15px 15px 15px;
  color: rgb(67, 15, 88);
  text-transform: uppercase;
  letter-spacing: 1px;
}
main .breeds.wrapper .header .flex-row {
  width: 100%;
  justify-content: center;
  align-items: center;
  color: rgb(67, 15, 88);
}
main .breeds.wrapper .header .flex-row p {
  transition: color 0.3s;
}
main .breeds.wrapper .header .flex-row p, main .breeds.wrapper .header .flex-row .search__container {
  padding: 15px;
}
main .breeds.wrapper .header .flex-row .search__container {
  margin-right: 97px;
}
main .breeds.wrapper .header .flex-row p:hover {
  cursor: pointer;
  color: rgb(102, 67, 181);
}
main .breeds.wrapper .breed {
  padding: 10px;
  width: 100%;
  align-items: center;
  transition: all 0.3s;
}
main .breeds.wrapper .breed .breed-text {
  flex: 1;
  padding: 10px;
}
main .breeds.wrapper .breed .breed-text h2 {
  padding: 15px;
  color: rgb(67, 15, 88);
  letter-spacing: 1px;
  text-align: center;
}
main .breeds.wrapper .breed .breed-text .breed-description {
  padding: 15px;
  color: rgb(67, 15, 88);
}
main .breeds.wrapper .breed .breed-text .right {
  text-align: right;
}
main .breeds.wrapper .breed .image-container {
  width: 480px;
  height: 330px;
  padding: 15px;
  overflow: hidden;
}
main .breeds.wrapper .breed .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .breeds.wrapper .breed:hover {
  cursor: pointer;
  scale: 0.95;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: rgb(67, 15, 88);
  overflow: hidden;
}
footer .wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .wrapper .footer-contact {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .wrapper .footer-contact p {
  padding: 0 8px;
}
footer .wrapper .footer-contact .email {
  flex: 1;
  width: 60%;
  align-self: center;
  transition: all 0.3s;
}
footer .wrapper .footer-contact .email i {
  margin-right: 3px;
}
footer .wrapper .footer-contact .email:hover {
  cursor: pointer;
  color: rgb(213, 222, 245);
}
footer .wrapper .footer-media {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
footer .wrapper .footer-media div {
  padding: 4px;
}
footer .wrapper .footer-media .media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .wrapper .footer-media .media .media-icon {
  align-self: center;
  padding: 4px;
  margin: 0 8px;
  font-size: 26px;
  transition: all 0.3s;
}
footer .wrapper .footer-media .media .media-icon:hover {
  cursor: pointer;
  color: rgb(213, 222, 245);
}

.pop-up {
  display: none;
  position: fixed;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 15px;
  font-weight: 600;
  color: rgb(67, 15, 88);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.pop-up.show {
  display: block;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(67, 15, 88);
  mix-blend-mode: screen;
  opacity: 1;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.search__input {
  width: 400px;
  padding: 12px 24px;
  background-color: transparent;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  color: rgb(67, 15, 88);
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border-radius: 50px;
  border: 1px solid rgb(67, 15, 88);
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.search__input::-moz-placeholder {
  color: color(rgb(67, 15, 88) a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input::placeholder {
  color: color(rgb(67, 15, 88) a(0.8));
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.search__input:hover, .search__input:focus {
  padding: 12px 0;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(67, 15, 88);
  border-radius: 0;
  background-position: 100% center;
}/*# sourceMappingURL=style.css.map */