// universal button
button {
	text-transform: uppercase;
	text-align: center;
	font-family: inherit;
	border: none;
	transition: all 0.3s;
}

.invisible {
	visibility: hidden;
}

// images color overlay
.color-overlay,
.color-overlay-transparent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	mix-blend-mode: screen;
	z-index: 10;
}
.color-overlay {
	background-color: $main-color;
}
.color-overlay-transparent {
	background-color: $supporting-color;
}

// background animation
.bg {
	position: absolute;
	top: 0;
	height: 100vh;
	width: calc((100vw - 1200px) / 2);
	overflow: hidden;
	visibility: hidden;

	@media (min-width: 1550px) and (min-height: 550px) {
		visibility: visible;
	}

	&__1,
	&__2,
	&__3,
	&__4 {
		position: absolute;
	}
}
.bg--left {
	left: 0;

	.bg__1 {
		top: 5%;
		left: 25%;
		transform: rotate(30deg);
		.bg-bone {
			height: 115px;
			animation: spinForwards 10s infinite linear;
		}
	}

	.bg__2 {
		top: 30%;
		right: 10%;
		transform: rotate(130deg);
		.bg-bone {
			height: 105px;
			animation: spinBackwards 16s infinite linear;
		}
	}

	.bg__3 {
		bottom: 30%;
		left: 10%;
		transform: rotate(60deg);
		.bg-bone {
			height: 125px;
			animation: spinForwards 12s infinite linear;
		}
	}

	.bg__4 {
		bottom: 5%;
		right: 20%;
		transform: rotate(150deg);
		.bg-bone {
			height: 95px;
			animation: spinForwards 18s infinite linear;
		}
	}
}
.bg--right {
	right: 0;

	.bg__1 {
		top: 5%;
		right: 20%;
		transform: rotate(120deg);
		.bg-bone {
			height: 95px;
			animation: spinBackwards 14s infinite linear;
		}
	}

	.bg__2 {
		top: 30%;
		left: 10%;
		transform: rotate(60deg);
		.bg-bone {
			height: 125px;
			animation: spinForwards 12s infinite linear;
		}
	}

	.bg__3 {
		bottom: 30%;
		right: 20%;
		transform: rotate(0deg);
		.bg-bone {
			height: 105px;
			animation: spinForwards 10s infinite linear;
		}
	}

	.bg__4 {
		bottom: 5%;
		right: 40%;
		transform: rotate(140deg);
		.bg-bone {
			height: 115px;
			animation: spinForwards 16s infinite linear;
		}
	}
}

// .color-overlay {
// 	position:relative;
//   display:inline-block;
//   width: 300px;
//   -webkit-mask:url(../img/race-list.png) center/contain no-repeat;
//   mask:url(../img/race-list.png) center/contain no-repeat;
// }
// .color-overlay:before{
// 	content:"";
// 	position:absolute;
// 	left:0;
// 	right:0;
// 	top:0;
// 	bottom: 0;
// 	height:100%; /* adjust this */
// 	background-color:rgba(234, 0, 255, 0.5);
// }
// poza tym klasa nadana na rodzica obrazu - nie wiem jak naprawić rozmiar

// pop-up-mail
.pop-up-mail {
	display: none;
	position: absolute;
	width: 200px;
	top: 30%;
	left: 50%;
	padding: 15px;
	font-size: 1.2rem;
	font-weight: 600;
	color: $main-color;
	background-color: $background-color;
	box-shadow: 0 0 10px rgba(67, 15, 88, 0.4);
	transform: translate(-50%, -50%);
	z-index: 1000;

	@media (min-width: 576px) {
		top: 10%;
		left: 80%;
	}
}
.pop-up-mail.show {
	display: block;
}

// breed searchbar
.searchbar {

	&__input {
		width: 250px;
		padding: 12px 24px;
		background-color: transparent;
		transition: transform 250ms ease-in-out;
		font-size: 14px;
		font-family: inherit;
		line-height: 18px;
		color: $main-color;
		background-color: transparent;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: 95% center;
		border-radius: 50px;
		border: 1px solid $main-color;
		transition: all 250ms ease-in-out;
		backface-visibility: hidden;
		transform-style: preserve-3d;

		@media (min-width: 576px){
			width: 400px;
		}

		&::placeholder {
			color: color($main-color a(0.8));
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}

		&:hover,
		&:focus {
			padding: 12px 0;
			outline: 0;
			border: 1px solid transparent;
			border-bottom: 1px solid $main-color;
			border-radius: 0;
			background-position: 100% center;
		}
	}
}

// quiz progress bar
.questions__progress-bar {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background: $supporting-color;
	&--done {
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		box-shadow: 0 0 5px $main-color;
		height: 15px;
		margin-bottom: 2rem;
		margin-top: 1rem;

		@media (min-width: 768px) and (min-height: 768px) {
			margin-bottom: 4rem;
		}
		&.bar {
			background: $main-color;
		}
	}
}

// quiz labels
label.answers__label{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	font-weight: 500;

	input {
		position: absolute;
		left: -9999px;

		&:checked + span {
			background-color: mix($background-color, $highlight-color, 65%);
			&:before {
				box-shadow: inset 0 0 0 0.375em $highlight-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.75em 1.5em 0.75em 0.75em;
		color: $main-color;
		transition: 0.25s ease;
		&:hover {
			background-color: mix(#fff, $highlight-color, 84%);
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: $background-color;
			width: 1.5em;
			height: 1.5em;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em $highlight-color;
		}
	}
	input[type="radio"] + span{
		border-radius: 99em;
			&:before{
				border-radius: 50%;
			}
	}
}
label.answers__label{
	padding: 0.5rem 0;
	margin-bottom: 0.375em;
	font-size: 1.2rem;

	@media (min-width: 992px) {
		padding: 1rem 0;
		font-size: 1.4rem;
	}
}
