// universal button
button {
	text-transform: uppercase;
	text-align: center;
	font-family: inherit;
	border: none;
	transition: all 0.3s;
}

.invisible {
	visibility: hidden;
}

// scrollbar
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: $highlight-color $background-color;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 16px;
}

*::-webkit-scrollbar-track {
	background: $background-color;
}

*::-webkit-scrollbar-thumb {
	background-color: $highlight-color;
	border-radius: 10px;
	transition: background-color 0.3s ease;
}

// background animation
.bg {
	position: absolute;
	top: 0;
	height: 100%;
	width: calc((100vw - 1200px - 16px) / 2);
	overflow: hidden;
	visibility: hidden;

	@media (min-width: 1550px) and (min-height: 550px) {
		visibility: visible;
	}

	&__1,
	&__2,
	&__3,
	&__4 {
		position: fixed;
	}
}
.bg--left {
	left: 0;

	.bg__1 {
		top: 5%;
		left: 3%;
		transform: rotate(30deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			left: 5%;
		}
		.bg-bone {
			height: 115px;
			animation: spinForwards 10s infinite linear;
		}
	}

	.bg__2 {
		top: 30%;
		left: 10%;
		transform: rotate(130deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			left: 18%;
		}
		.bg-bone {
			height: 105px;
			animation: spinBackwards 16s infinite linear;
		}
	}

	.bg__3 {
		bottom: 30%;
		left: 4%;
		transform: rotate(60deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			left: 7%;
		}
		.bg-bone {
			height: 125px;
			animation: spinForwards 12s infinite linear;
		}
	}

	.bg__4 {
		bottom: 5%;
		left: 8%;
		transform: rotate(150deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			left: 12%;
		}
		.bg-bone {
			height: 95px;
			animation: spinForwards 18s infinite linear;
		}
	}
}
.bg--right {
	right: 0;

	.bg__1 {
		top: 5%;
		right: 8%;
		transform: rotate(120deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			right: 16%;
		}
		.bg-bone {
			height: 95px;
			animation: spinBackwards 14s infinite linear;
		}
	}

	.bg__2 {
		top: 30%;
		right: 2%;
		transform: rotate(60deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			right: 4%;
		}
		.bg-bone {
			height: 125px;
			animation: spinForwards 12s infinite linear;
		}
	}

	.bg__3 {
		bottom: 30%;
		right: 12%;
		transform: rotate(0deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			right: 19%;
		}
		.bg-bone {
			height: 105px;
			animation: spinForwards 10s infinite linear;
		}
	}

	.bg__4 {
		bottom: 5%;
		right: 4%;
		transform: rotate(140deg);
		z-index: -1000;
		@media (min-width: 2200px) {
			right: 9%;
		}
		.bg-bone {
			height: 115px;
			animation: spinForwards 16s infinite linear;
		}
	}
}

// pop-up-mail
.pop-up-mail {
	display: none;
	position: absolute;
	width: 200px;
	top: 30%;
	left: 50%;
	padding: 15px;
	font-size: 1.2rem;
	font-weight: 600;
	color: $main-color;
	background-color: $background-color;
	box-shadow: 0 0 10px rgba(67, 15, 88, 0.4);
	transform: translate(-50%, -50%);
	z-index: 1000;

	@media (min-width: 576px) {
		top: 10%;
		left: 80%;
	}

	p {
		margin-bottom: 0;
	}
}
.pop-up-mail.show {
	display: block;
}

// breed searchbar
.searchbar {
	&__input {
		width: 200px;
		padding: 12px 24px;
		background-color: transparent;
		transition: transform 250ms ease-in-out;
		font-size: 14px;
		font-family: inherit;
		line-height: 18px;
		color: $main-color;
		background-color: transparent;
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-size: 18px 18px;
		background-position: 95% center;
		border-radius: 50px;
		border: 1px solid $main-color;
		transition: all 250ms ease-in-out;
		backface-visibility: hidden;
		transform-style: preserve-3d;

		@media (min-width: 450px) {
			width: 300px;
		}

		@media (min-width: 576px) {
			width: 400px;
		}

		&::placeholder {
			color: color($main-color a(0.8));
			text-transform: uppercase;
			letter-spacing: 1.5px;
		}

		&:hover,
		&:focus {
			padding: 12px 0;
			outline: 0;
			border: 1px solid transparent;
			border-bottom: 1px solid $main-color;
			border-radius: 0;
			background-position: 100% center;
		}
	}
}

// filter field
.filter {
	opacity: 0;
	flex-direction: column;
	position: fixed;
	width: calc(100vw - 20px);
	max-height: calc(100vh - 200px);
	max-width: 1200px;
	margin-top: 188px;
	color: $main-color;
	font-size: 0.9rem;
	background-color: $background-color;
	border: solid 2px $highlight-color;
	overflow-y: auto;
	pointer-events: none;
	z-index: 100;

	@media (max-height: 380px) {
		max-height: calc(100vh - 150px);
		margin-top: 140px;
	}

	@media (min-width: 576px) and (min-height: 500px) {
		font-size: 1.2rem;
	}

	@media (min-width: 992px) {
		font-size: 1.3rem;
	}

	p {
		font-weight: 800;
	}

	.checkbox-container {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.checkbox-item {
			display: flex;
			flex-direction: column;
			padding: 1rem;
			border: none;

			input {
				position: absolute;
				left: -9999px;

				&:checked + span {
					background-color: mix($background-color, $highlight-color, 65%);
					&:before {
						box-shadow: inset 0 0 0 0.375em $highlight-color;
					}
				}
			}
			span {
				display: flex;
				align-items: center;
				padding: 0.75em 1.5em 0.75em 0.75em;
				color: $main-color;
				cursor: pointer;
				transition: 0.25s ease;
				&:hover {
					background-color: mix(#fff, $highlight-color, 84%);

					@media (hover: none) {
						background-color: $background-color;
					}
				}
				&:before {
					display: flex;
					flex-shrink: 0;
					content: "";
					background-color: $background-color;
					width: 1.5em;
					height: 1.5em;
					margin-right: 0.375em;
					transition: 0.25s ease;
					box-shadow: inset 0 0 0 0.125em $highlight-color;
				}
			}
		}
	}

	.slider-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.slider-item {
			display: flex;
			width: 160px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 1rem;
			text-align: center;

			p {
				margin-bottom: 0;
			}

			@media (min-width: 576px) and (min-height: 500px) {
				width: 200px;
			}

			@media (min-width: 992px) {
				width: 220px;
			}
		}
	}

	.buttons-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		.apply,
		.reset {
			width: 200px;
			height: 40px;
			margin: 5px;
			color: $main-color;
			font-weight: 600;
			letter-spacing: 1px;
			cursor: pointer;
		}

		.reset {
			background-color: $supporting-color;
		}

		.apply {
			background-color: $highlight-color;
		}

		.apply:hover,
		.reset:hover {
			background-color: $main-color;
			color: $background-color;
		}
	}
}

// filter field pseudoslider
.pseudoslider {
	display: flex;
	align-items: center;
	margin: 0.5rem;
	background-color: $supporting-color;

	.value {
		width: 30px;
		height: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $main-color;
		font-size: 1.1rem;
		font-weight: 600;
		cursor: pointer;
		transition: background-color 0.3s, color 0.3s;
		z-index: 5;

		@media (min-width: 576px) {
			width: 40px;
			height: 25px;
		}

		&:hover {
			background-color: $main-color;
			color: $background-color;

			@media (hover: none) {
				background-color: $supporting-color;
				color: $main-color;
			}
		}

		&.selected {
			background-color: $main-color;
			color: $background-color;
		}
	}

	.value.hover-range {
		background-color: $main-color;
		color: $background-color;
	}
}

// quiz progress bar
.questions__progress-bar {
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
	background: $supporting-color;
	&--done {
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		box-shadow: 0 0 5px $main-color;
		height: 15px;
		margin-bottom: 2rem;
		margin-top: 1rem;

		@media (min-width: 768px) and (min-height: 768px) {
			margin-bottom: 4rem;
		}
		&.bar {
			background: $main-color;
		}
	}
}

// quiz labels
label.answers__label {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;
	font-weight: 500;

	input {
		position: absolute;
		left: -9999px;

		&:checked + span {
			background-color: mix($background-color, $highlight-color, 65%);
			&:before {
				box-shadow: inset 0 0 0 0.375em $highlight-color;
			}
		}
	}
	span {
		display: flex;
		align-items: center;
		padding: 0.75em 1.5em 0.75em 0.75em;
		color: $main-color;
		transition: 0.25s ease;
		&:hover {
			background-color: mix(#fff, $highlight-color, 84%);

			@media (hover: none) {
				background-color: $background-color;
			}
		}
		&:before {
			display: flex;
			flex-shrink: 0;
			content: "";
			background-color: $background-color;
			width: 1.5em;
			height: 1.5em;
			margin-right: 0.375em;
			transition: 0.25s ease;
			box-shadow: inset 0 0 0 0.125em $highlight-color;
		}
	}
	input[type="radio"] + span {
		border-radius: 99em;
		&:before {
			border-radius: 50%;
		}
	}
}
label.answers__label {
	padding: 0.5rem 0;
	margin-bottom: 0.375em;
	font-size: 1.2rem;

	@media (min-width: 992px) {
		padding: 1rem 0;
		font-size: 1.4rem;
	}
}

// breed details accordion
.accordion {
	--bs-accordion-active-bg: $background-color;
	--bs-accordion-btn-focus-box-shadow: none;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	margin: 2rem 0;

	.accordion-group {
		width: 100%;

		@media (min-width: 992px) {
			width: 47%;
			margin: 0 1rem;
		}

		.accordion-item {
			.accordion-header {
				border: solid 1px $supporting-color;
				border-bottom: none;

				.accordion-button {
					position: relative;
					display: flex;
					flex-direction: column;
					text-align: center;
					color: $main-color;
					font-size: 1.4rem;
					font-weight: 600;
					letter-spacing: 2px;

					.score-blocks {
						display: flex;
						margin: 0 1rem;

						.score-block {
							width: 40px;
							height: 10px;
							margin: 0.5rem;
							background-color: $supporting-color;
						}

						.score-block.active {
							background-color: $main-color;
						}
					}
				}
				.accordion-button::after {
					position: absolute;
					right: 0.5rem;
					top: calc(50% - 4px);
					color: $main-color;
				}
				.accordion-button:active {
					background-color: $background-color;
				}
			}
			.accordion-collapse {
				color: $main-color;
				background-color: $supporting-color;
				font-size: 1.2rem;
				font-weight: 500;
				border: none;
			}
		}
	}
}

//sets visual effects to quiz results based on compatibility
@mixin compatibilityBadge($content, $bg-color, $score-bg-color) {
	position: relative;
	background-color: $bg-color;

	&::before, &::after{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		color: $main-color;
		text-transform: uppercase;
	}

	&::before{
		content: var(--score-content, '');
		width: 50px;
		height: 50px;
		top: 1rem;
		right: 1rem;
		font-size: 1.6rem;
		font-weight: 800;
		background-color: $score-bg-color;
	}

	&::after {
		content: $content;
		width: 250px;
		height: 30px;
		bottom: 1rem;
		left: 1rem;	
		background-color: $bg-color;
		font-size: 1.3rem;
		font-weight: 600;
	}
}
main{
	.main-breeds-list{
		.compatibility {
			&--perfect,
			&--perfect:hover {
				@include compatibilityBadge(
					"idealne dopasowanie",
					rgba(94, 142, 214, 0.2),
					rgba(94, 142, 214, 0.7)
				);
			}
		
			&--very-good,
			&--very-good:hover {
				@include compatibilityBadge(
					"bardzo dobre dopasowanie",
					rgba(118, 197, 45, 0.2),
					rgba(118, 197, 45, 0.7)
				);
			}
		
			&--good,
			&--good:hover {
				@include compatibilityBadge(
					"dobre dopasowanie",
					rgba(197, 180, 24, 0.2),
					rgba(197, 180, 24, 0.7)
				);
			}
		
			&--average,
			&--average:hover {
				@include compatibilityBadge(
					"przeciętne dopasowanie",
					rgba(236, 170, 109, 0.2),
					rgba(236, 170, 109, 0.7)
				);
			}
		
			&--bad,
			&--bad:hover {
				@include compatibilityBadge(
					"złe dopasowanie", 
					rgba(182, 94, 94, 0.2),
					rgba(182, 94, 94, 0.7)
					);
			}
		}
	}
}
