@import "./colors";
@import "./animations";
@import "./components";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	background-color: $background-color;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.wrapper {
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	z-index: 0;
	@media (max-width: 768px) {
		max-width: 100%;
		padding: 0 10px;
	}
}

a {
	text-decoration: none;
}

// navigation
.nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 100px;
	width: 1200px;
	top: 0;
	background-color: $background-color;
	border-bottom: 1px solid $main-dark-color;
	z-index: 100;

	&__logo {
		height: 100%;

		a,
		img {
			display: block;
			height: 100%;
			width: 100%;
		}

		a:hover {
			cursor: pointer;
		}
	}

	&__buttons {
		position: absolute;
		display: flex;
		flex-direction: row;
		right: 0;
		bottom: 0;
		height: 40px;
	}

	&__btn {
		font-family: inherit;
		width: 200px;
		height: 100%;
		text-transform: uppercase;
		text-align: center;
		font-weight: 800;
		letter-spacing: 2px;
		color: $main-dark-color;
		background-color: $background-color;
		border: solid $background-color;
		border-width: 2px 1px;
		transition: 0.3s;
	}

	&__btn--active {
		color: $background-color;
		background-color: $main-dark-color;
		font-weight: 600;
	}

	&__btn--active:hover {
		cursor: pointer;
	}

	&__btn--inactive:hover {
		cursor: pointer;
		color: $background-color;
		background-color: $main-dark-color;
		font-weight: 600;
	}
}

// main
.main {
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	h1 {
		flex: 1;
		width: 100%;
		text-align: center;
		padding-top: 40px;
		color: $main-dark-color;
	}
	.main-content {
		flex: 6;
		width: 100%;
		display: flex;
		flex-direction: row;
		.races {
			flex: 1;
			position: relative;
			img {
				position: absolute;
				width: 350px;
				bottom: 30px;
			}
		}
		.buttons {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			button {
				position: relative;
				padding: 16px 24px;
				font-family: "Montserrat", sans-serif;
				font-weight: 600;
				letter-spacing: 1px;
				font-size: 30px;
				border: none;
				transition: all 0.3s;
				a {
					color: $background-color;
				}
			}
			button:hover {
				cursor: pointer;
				scale: 0.9;
			}
			.main-quiz-btn {
				margin-left: 80px;
				background-color: $main-btn-color;
				border: none;
			}
			.main-quiz-btn:hover {
				box-shadow: 0px 0px 50px 0px $main-btn-color;
			}
			.main-races-btn {
				margin-right: 80px;
				background-color: $main-light-color;
			}
			.main-races-btn:hover {
				box-shadow: 0px 0px 50px 0px $main-light-color;
			}
		}
		.quiz {
			position: relative;
			flex: 1;
			display: flex;
			flex-direction: row;
			padding: 60px 0 15px 3px;
		}
	}
}
.breeds {
	height: 100%;
	.header {
		position: sticky;
		top: 40px;
		align-items: center;
		background-color: $background-color;
		z-index: 100;
		h1 {
			padding: 40px 15px 15px 15px;
			color: $main-dark-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.flex-row {
			width: 100%;
			justify-content: center;
			align-items: center;
			color: $main-dark-color;
			p {
				transition: color 0.3s;
			}
			p,
			.search__container {
				padding: 15px;
			}
			.search__container {
				margin-right: 97px;
			}
			p:hover {
				cursor: pointer;
				color: $main-btn-color;
			}
		}
	}
	.breed {
		padding: 5px;
		width: 100%;
		align-items: center;
		transition: all 0.3s;
		.breed-text {
			flex: 1;
			padding: 10px;
			h2 {
				padding: 15px;
				color: $main-dark-color;
				letter-spacing: 1px;
				text-align: center;
			}
			.breed-description {
				padding: 15px;
				color: $main-dark-color;
			}
			.right {
				text-align: right;
			}
		}
		.image-container {
			width: 480px;
			height: 330px;
			padding: 15px;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.breed:hover {
		cursor: pointer;
		scale: 0.95;
	}
}
.selector {
	height: 100%;
	.header {
		height: 0;
		flex: 1;
		align-items: center;
		h1 {
			padding: 40px 5px 5px 5px;
			color: $main-dark-color;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
		.selector-image {
			position: relative;
			height: 70%;
			img {
				height: 100%;
			}
		}
	}
	.content {
		flex: 3;
		align-items: center;
		.questions {
			flex: 3;
			margin: 0 50px 200px 50px;
			.progress {
				.question-number {
					text-align: center;
					padding: 15px;
					color: $main-dark-color;
					font-weight: 600;
				}
				.progress-bar {
					padding: 15px 30px;
				}
			}
			.question {
				h2 {
					text-align: center;
					color: $main-dark-color;
				}
			}
		}
		.answers {
			flex: 2;
			justify-content: space-around;
			margin: 0 50px 100px 50px;
			label {
				padding: 15px 0;
			}
		}
	}
}

.footer {
	position: absolute;
	display: flex;
	bottom: 0;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100px;
	padding: 0.5rem;
	color: $main-dark-color;
	background-color: $background-color;
	font-size: 1.3rem;
	font-weight: 800;
	border-top: 1px solid $main-dark-color;

	&__item {
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 450px;

		.email {
			padding: 0.5rem 1rem;
			transition: all 0.3s;
			i {
				margin-right: 0.3rem;
			}
		}
		.email:hover {
			cursor: pointer;
			color: $main-btn-color;
		}

		&-media-text{
			padding-right: 10px;
		}

		&-media {
			height: 100%;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			.media-icon {
				align-self: center;
				padding: 1rem 1.4rem;
				font-size: 2.6rem;
				transition: all 0.3s;
			}
			.media-icon:hover {
				cursor: pointer;
				color: $main-btn-color;
			}
		}

		&--company-info{
			width: 300px;
		}
	}
}

// next/previous arrow

// zrobić określenie priorytetu


.flex-col{
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
	flex-direction: row;
}